:root {
    --background:#5CA1F1;
    --darkgrey:#333333;
    --midgrey:#383838;
    --lightgrey:#848484;
    --offwhite:#F5F5F5;
    --accent:#e44439;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
    font-weight: bold;
}

#content {
     max-width: 1200px;
     margin: auto;

}

header {
    background-color: var(--background);
    display: inline-block;
}

body {
   
}

div {
    
}

nav {
    padding-top: 30px;
    padding-left: 800px;
}

nav ul li {
    text-align: left;
    list-style: none;
    margin-right: 15px;
    width: auto;
    float: left;
    background-color: inherit;
    font-size: 16px;
    color: white;
}

h1 {
    clear: left;
    font-size: 55px;
    color: white;
    width: 60%;
    padding: 20px;
    float: left;
}

img {
    float: left;
    display: inline;
    width: 100px;
    margin: 40px;
    
}


h2 {
    font-size: 55px;
    color: var(--darkgrey);
}

h3 {
    color: var(--midgrey);
    font-size: 29px;
}

p {
    color: var(--lightgrey);
    font-size: 16px;
}

article {
    color: var(--darkgrey);
    background-color: black;
    display: inline-block;
    width: 50%;
    text-align: center;
}

article p {
    color: var(--darkgrey);
}

footer {
    position: fixed;
    color: white;
    display: block;
    background-color: var(--offwhite);
    width: 100%;
    height: 100px;
    top:90%;
}

footer ul {
    text-align: center;
}

footer li {
    margin: auto;
}

@media (max-width: 400px) {

    nav {
        padding-top: 30px;
        padding-left: 0px;
    }
    
    nav ul li {
        text-align: left;
        list-style: none;
        margin: 16px;
        width: auto;
        float: left;
        background-color: inherit;
        font-size: 16px;
        color: white;
    }
}
