:root {
    --accent:#e44439;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color:white;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

nav{
    background-color: pink;
    margin: 30px;
}

nav img{
    float: left;
    height: 20px;
    padding-right: 50px;
}

/*
nav ul {
    display: inline;
    padding: 15px 5% 30px 5%;
    background-color: inherit;

}
*/



nav ul li {
    text-align: left;
    list-style: none;
    margin-right: 20px;
    margin-top: 5px;
    width: auto;
    float: left;
    background-color: inherit;
    font-size: 9px;
    color: grey;
}

nav ul li::after {
    display: block;
    margin-top: 5px;
    width: 10px; 
    height: 4px;
    content:"";
    background-color: black;
}



h1 {
    float: left;
    clear: left;
   width: 60%;
   font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center; 
    font-size: 16px;
    width: 50%;
    margin: auto;
}

h3 {
    color: var(--accent);
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

article {
    width: 28%;
    float: left;
    margin: 20px 2%;
    box-shadow: 0px 15px 15px darkgray;
    clear: right;
    
}

#mainArticle{
    box-shadow: 0px 15px 5px -7.5px lightgrey,
                0px 15px 0px -7.5px white,
                0px 15px 15px lightgrey;
    background-image: linear-gradient(lightgrey,white);
    margin: 100px 10px 50px 0px;
    text-align: left;
    width: 35%;
    clear: left;
    padding: 8% 5%;
}

#mainArticle h2 {
    text-align: left;
    width: 100%;
}

#mainArticle hr {
    background-color: var(--accent);
    border: none;
    margin: 10px 0px;
    padding: 2px 2px 2px 2px;
    width: 20px;
}

#mainArticle p {
    line-height: 22px;
    font-size: 11px;
    letter-spacing: 1px;
    text-align: left;
    padding: 0;
    margin: 0;
    
}
#mainImage{
    width: 44%;
    float: left;
    clear: right;
    margin: 50px auto;
}

p{
    color: grey;
}

article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    padding: 30px;
    
}

article p {
    margin: 5% 10% 8% 10%;
    text-align: center;
    font-size: 10px;
}

button{
    padding: 10px 25px 10px 25px;
    margin: 30px 10px;
    border-radius: 25px;
    border: none;
    background-color: #10cc7e;
    color: white;
    box-shadow: 0px 6px 10px -1.5px #51db96;
    float: left;
    clear: left;

}

#back, #forward{
    padding: 0px;
    box-sizing: border-box;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    border: none;
    background-color: white;
    color: grey;
    box-shadow: 0px 0px 30px 0px #eeeeee;
    float: left;
    font-size: 300%;
    text-align: center;
    text-anchor: middle;
    position: absolute;
    display: none;
}
#forward{
    float: right;
}

.highlight{
    color: var(--accent);
}

hr {
    background-color: var(--accent);
    border: none;
    margin: 10px auto;
    padding: 2px 2px 2px 2px;
    width: 20px;
}

@media only screen and (max-width: 700px) {
    nav img {
        display: block;
        clear: both;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
    }   

    nav ul li {
        text-align: center;
        list-style: none;
        margin-top: 5px;
        width: 100%;
        float: left;
        clear: right;
        background-color: inherit;
        font-size: 9px;
        color: grey;
    }
    
    button {
        margin: 10px auto;
    }

    #mainArticle{
        width: 95%;
        margin: auto;
    }

    article {
        width: 95%;
        margin: auto;
    }

    #mainImage{
        display: none;
    }
} 