* {
    font-family: sans-serif;
}

#travelsurvey{
    width: 400px;
}

legend {
    text-align: center;
}

fieldset {
    margin: 20px;
}

input[type="text"] {
    float:right;    
}

input[type="submit"] {
    width: 400px;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

input[type="text"]:invalid {
    border: inset red 2px;
}

label + input[type="text"]{
    border: inset green 5px;
}