* {
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#wrapper {
    width: 100%;
}

nav {
    background-color: red;
    
}

nav ol {
    display: block;
    padding: 15px 5% 30px 5%;
    background-color: inherit;
}

nav ol li {
    text-align: center;
    list-style-type: none;
    
    width: 33%;
    float: left;
    background-color: inherit;
}

nav ol a {
    background-color: inherit;
    color: black;
    
    
}

h1, h2 {
   text-align: center; 
}

article
{
    width: 28%;
    float: left;
    border: 2px solid red;
    margin: 5% 2% 3% 2%;
    
}

article p {
    margin: 5% 10% 8% 10%;
}

header {
     margin: 20px 0 15px 0px;
}

header p{
    text-align: left;
    
}