* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:white;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    width: 100%;
}

nav {
    background-color: red;
    
}

nav ol {
    display: block;
    padding: 15px 5% 30px 5%;
    background-color: inherit;
}

nav ol li {
    text-align: center;
    list-style-type: none;
    
    width: 33%;
    float: left;
    background-color: inherit;
}

nav ol a {
    background-color: inherit;
    color: black;
    
    
}

h1, h2 {
   text-align: center; 
}

article {
    width: 28%;
    float: left;
    margin: 5% 2% 3% 2%;
    box-shadow: 0px 15px 15px;
    
}

@media only screen and (max-width: 600px) {
    article {
        width: 98%;
    } 
} 

#mainArticle{
    box-shadow: 0px 15px 5px -7.5px lightgrey, 0px 15px 0px -7.5px white, 0px 15px 15px lightgrey;
    background-image: linear-gradient(grey,white);

}

#mainArticle p {
    line-height: 25px;
}

#mainImage{
    width: 100px;
    float: right;
}

p{
    color: grey;
}

article img{
    margin-left: auto;
    margin-right: auto;
    width: 16px;
    position: relative;
}

article p {
    margin: 5% 10% 8% 10%;
    text-align: center;
}

article br{
    background-color: red;
}

header {
     margin: 20px 0 15px 0px;
}

header p{
    text-align: left;
    
}

button{
    padding: 10px 25px 10px 25px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    background-color: #10cc7e;
    color: white;
    box-shadow: 0px 6px 10px -1.5px #51db96;
    float: left

}

#back, #forward{
    padding: 0px;
    box-sizing: border-box;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    border: none;
    background-color: white;
    color: grey;
    box-shadow: 0px 0px 10px 0px #eeeeee;
    float: left;
    font-size: 300%;
    text-align: center;
    text-anchor: middle;
}
#forward{
    float: right;
}

.highlight{
color: #e44439;
}